<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.9.0-preview.5" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.8.2-preview.5" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.4.0-preview.1" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.2.0-preview.3" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net" version="1.6.3-preview.7" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.1-preview.2" targetFramework="netnanoframework10" />
</packages>