<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.7.3-preview.4" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.4.2-preview.8" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.3.0-preview.2" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.0.1-preview.7" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net" version="1.4.1-preview.21" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.0.0-preview.22" targetFramework="netnanoframework10" />
</packages>