<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.10.4-preview.4" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.9.0-preview.24" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Native" version="1.5.1-preview.39" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.2.0-preview.47" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net" version="1.6.5-preview.15" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.1-preview.47" targetFramework="netnanoframework10" />
  <package id="Nerdbank.GitVersioning" version="3.3.37" developmentDependency="true" targetFramework="netnanoframework10" />
</packages>