<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.14.2" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Events" version="1.11.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.Runtime.Native" version="1.6.6" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Collections" version="1.5.18" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.IO.Streams" version="1.1.36" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Net" version="1.10.49" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Text" version="1.2.37" targetFramework="netnano1.0" />
  <package id="nanoFramework.System.Threading" version="1.1.19" targetFramework="netnano1.0" />
  <package id="Nerdbank.GitVersioning" version="3.5.119" developmentDependency="true" targetFramework="netnano1.0" />
</packages>