<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.10.1-preview.11" targetFramework="netnanoframework10" />
  <package id="nanoFramework.Runtime.Events" version="1.9.0-preview.14" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Collections" version="1.2.0-preview.29" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Net" version="1.6.3-preview.33" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.1-preview.29" targetFramework="netnanoframework10" />
  <package id="Nerdbank.GitVersioning" version="3.1.13-beta" targetFramework="netnanoframework10" developmentDependency="true" />
</packages>