<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.12.0-preview.19" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.3-preview.24" targetFramework="netnanoframework10" />
  <package id="nanoFramework.TestFramework" version="1.0.181" targetFramework="netnanoframework10" developmentDependency="true" />
</packages>