<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="nanoFramework.CoreLibrary" version="1.11.6-preview.2" targetFramework="netnanoframework10" />
  <package id="nanoFramework.System.Text" version="1.1.2-preview.9" targetFramework="netnanoframework10" />
  <package id="nanoFramework.TestFramework" version="1.0.163" targetFramework="netnanoframework10" developmentDependency="true" />
</packages>